/* Custom CSS for the E-Learning website */

.hero {
    background-color: black;
    
    background-size: cover;
    background-position: center;
    color: rgb(10, 10, 10);
    padding: 100px 0;
    text-align: center;
}
.hero , .display{
    
    color:white
}
.navbar-nav .nav-link {
    font-size: 18px; /* Adjust this value to the desired font size */
    font-weight: bold;
}

.navbar-nav .btn {
    font-size: 18px;
    font-weight: bold; /* Adjust font size for the login button */
}


.card img {
    height: 200px;
    object-fit: cover;
}

footer {
    background-color: #343a40;
}